.wrapper {
  min-width: 21.4375rem;
  padding: 0 1rem;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-top: 1rem;
}

.footer {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.main {
  display: grid;
  row-gap: 1rem;
}

.hero {
  max-width: 28.5625rem;
  padding-top: 2.375rem;
  padding-bottom: 1.875rem;

  &__header {
    margin-bottom: 1.625rem;
  }
  &__text {
    margin-bottom: 1.5rem;
  }
}

.stats-img {
  justify-self: center;
  padding-bottom: 3.125rem;
}

.courses {
  margin-bottom: 5rem;
  &__list {
    display: grid;
    row-gap: 2.5rem;
    padding: 0;
  }

  &__card {
    padding: 3.5rem 1.75rem 2rem;

    &--accent {
      padding: 1.5rem 1.75rem 2rem;
    }
  }
}
